body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #0d3b91;
    padding: 20px;
    text-align: center;
}

/* Navigasi */
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background: #333;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

nav ul li a:hover {
    background: #555;
    border-radius: 5px;
}

/* Section */
section {
    margin: 20px;
    border: 1px solid #580909;
    padding: 15px;
    box-shadow: 0 0 5px #aaa;
}

/* Footer */
footer {
    background-color: #2d3061;
    padding: 10px;
    text-align: center;
}

/* Selektor tambahan */
#biodata p::first-line {
    font-weight: bold;
}

a[href*="instagram"] {
    color: #1DA1F2;
}

a[href*="github"] {
    color: #0077B5;
}
